albumentations==0.4.6
efficientnet-pytorch==0.7.0
icevision==0.1.1rc2
matplotlib==3.3.0
monai==0.2.0
numpy==1.18.5
opencv-python==4.3.0.36
pytorch-lightning==0.9.1rc1
segmentation-models-pytorch==0.1.0
tensorboard==2.2.0
torch==1.6.0
torchvision==0.7.0
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1594937875116/work